<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveProduct()"
          [formGroup]="productForm">

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="productnameId">Product Name</label>
        <div class="col-md-7">
          <input class="form-control"
                 id="productnameId"
                 type="text"
                 placeholder="Name (required)"
                 formControlName="name"
                 [ngClass]="{'is-invalid': displayMessage['name'] }" />
          <span class="invalid-feedback">
            {{displayMessage['name']}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="activeIngredientsId">Active Ingredients</label>
        <div class="col-md-7">
          <select id="activeIngredientsId" formControlName="activeIngredientID" class="form-select">
            <option disabled selected>Select an Option</option>
            <option value="1">ml(s)</option>
            <option value="2">mg(s)</option>
          </select>

        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="pharmaceuticalFormsId">Pharmaceutical Forms</label>
        <div class="col-md-7">
          <select id="pharmaceuticalFormsId" formControlName="pharmaceuticalFormID" class="form-select">
            <option disabled selected>Select an Option</option>
            <option value="1">ml(s)</option>
            <option value="2">mg(s)</option>
          </select>

        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="therapeuticClassId">Therapeutic Class</label>
        <div class="col-md-7">
          <select id="therapeuticClassId" formControlName="therapeuticClassID" class="form-select">
            <option disabled selected>Select an Option</option>
            <option value="1">ml(s)</option>
            <option value="2">mg(s)</option>
          </select>

        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="atcCodeId">ATC Code</label>
        <div class="col-md-7">
          <select id="atcCodeId" formControlName="atcCodeID" class="form-select">
            <option disabled selected>Select an Option</option>
            <option value="1">ml(s)</option>
            <option value="2">mg(s)</option>
          </select>

        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="classificationnameid">Classification</label>
        <div class="col-md-7">
          <select id="classificationnameid" formControlName="classifications" class="form-select">
            <option disabled selected>Select an Option</option>
            <option value="POM">POM</option>
            <option value="OTC">OTC</option>
          </select>

        </div>
      </div>


      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="competentAuthorityStatusId">Competent Authority Status</label>
        <div class="col-md-7">
          <select id="competentAuthorityStatusId" formControlName="competentAuthorityStatus" class="form-select">
            <option disabled selected>Select an Option</option>
            <option value="Authorised">Authorised</option>
            <option value="Withdrawn">Withdrawn</option>
          </select>

        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="internalStatusId">Internal Status</label>
        <div class="col-md-7">
          <select id="internalStatusId" formControlName="internalStatus" class="form-select">
            <option value="" disabled selected>Select an Option</option>
            <option value="Active">Active</option>
            <option value="Deactivated">Deactivated</option>
          </select>

        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="unitId">Unit</label>
        <div class="col-md-7">
          <select id="unitId" formControlName="productUnitID" aria-label="Select Unit" class="form-select">
            <option selected>Select an Option</option>
            <option value="1">ml(s)</option>
            <option value="2">mg(s)</option>
          </select>

        </div>
      </div>


      <div class="form-group row justify-content-md-center mb-2">
        <div class="row justify-content-end" style="margin-top:30px">
          <button class="btn btn-primary mr-3"
                  style="width:80px; margin-right: 20px"
                  type="submit"
                  [title]="productForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!productForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width: 80px; margin-right: 20px"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/products']">
            Cancel
          </button>
          <button class="btn btn-outline-warning" *ngIf="pageTitle != 'Add Product'"
                  style="width:80px"
                  type="button"
                  title="Delete this product"
                  (click)="deleteProduct()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

</div>   
